ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background-color: deepskyblue;
  align-items: flex-end;
}
li {

  /* border: 2px border black; */
  /* margin: 20 20;
  padding: 20 20; */

  border: 2px solid blue;

}
a {
  display: block;
  margin: 20px 20px;
  /* text-align: center; */
}
