#stepper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div div{
  width: 300px;
  height: 300px;
  color: #aaaaaa;
  border: 2px solid red;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper-1, .stepper-3 {
  background-color: #341244;
}

.stepper-1:hover, .stepper-3:hover {
  background-color: #888888;
}
