body {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100vh;
  justify-content: center;

}
.menu1 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
div div {
  display: inline-block;
  border-bottom: 2px solid grey;
  font-size: 3rem;
}
div div:hover {
  border-bottom: 5px solid skyblue;
}
